.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules > li {
    margin-bottom: 20px;
}
.wd-button {
    display: inline-block;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 15px;
}


.wd-button-container {
    margin-bottom: 20px;
    text-align: right;
}
